<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.big.mapper.DeptDao">

	<insert id="insert">
		INSERT INTO tbl_dept (
		d_code,
		d_name,
		d_sid,
		d_ceo,
		d_tel,
		d_addr,
		d_product
		) VALUES (
		#{d_code},
		#{d_name},
		#{d_sid},
		#{d_ceo},
		#{d_tel},
		#{d_addr},
		#{d_product}
		)
	</insert>

	<update id="update">
		UPDATE tbl_dept SET
		d_name = #{d_name, jdbcType=VARCHAR},
		d_sid = #{d_sid, jdbcType=VARCHAR},
		d_ceo = #{d_ceo, jdbcType=VARCHAR},
		d_tel = #{d_tel, jdbcType=VARCHAR},
		d_addr = #{d_addr, jdbcType=VARCHAR},
		d_product = #{d_product, jdbcType=VARCHAR}
		WHERE d_code = #{d_code, jdbcType=VARCHAR}
	</update>
	
</mapper>